.header {
  width: 100%;
  padding: 4vmin;
  position: relative;
  background-color: #ffffff;
}

.content {
  width: 50%;
  margin: 0 auto;
}

.content h1 {
  font-size: 6vmin;
  margin: 0;
}

.menu {
  width: 50%;
  position: absolute;
  padding: 0 2vmin 0;
  bottom: 0;
  left: 25%;
  display: flex;
}

.menu a {
  color: #666666;
  padding: 0.5vmin 0;
  margin-right: 2vmin;
  font-size: 1.75vmin;
  transition: all 0.5s ease-in-out;
}

.menu a:hover {
  color: #111111;
  text-decoration: none;
  transition: 0.5s;
}

@media all and (orientation: portrait) {
  .menu {
    display: none;
  }
  .menu a {
    display: none;
  }
}