.container {
    width: 620px;
    height: 100%;
    left: 30%;
    padding-top: 10%;
    position: fixed;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.contactPage {
    left: 10%;
}

.picture {
    z-index: 0;
    width: 360px;
    height: 480px;
    position: absolute;
    right: 0px;
    top: 30%;
    display: block;
    z-index: 3;
    border-radius: 2px;
    overflow: hidden;
}

@media all and (orientation: portrait) {
    .container { width: 100%; left: 0; top: 0; padding-top: 0; }
    .picture { width: 0; height:0; }
    .contactPage { left: -620px; }
}