.title {
  color: #222222;
  margin: 0;
  font-family: "Faustina", serif;
  font-weight: 400;
  margin-bottom: 2vmin;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  color: #999;
}
