@font-face {
  font-family: "VT323";
  src: local("VT323"), url("/fonts/VT323-Regular.ttf");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("/fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: "Faustina";
  src: local("Faustina"), url("/fonts/Faustina.ttf");
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
}

body {
  font-size: 18px;
  background: #eeeeee;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

@media all and (orientation: portrait) {
  body {
    background-color: #ffffff;
  }
}

/* Highlight Configuration Below*/

.hljs {
  display: block;
  position: relative;
  overflow-x: auto;
  font-size: 1.7vmin;
  padding: 4vmin;
  border-radius: 2px;
  color: #cccccc;
  background: #111111;
  font-family: "Fira Code", monospace;
}

.hljs-comment,
.hljs-quote {
  color: #666666;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #C792EA;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #F07178;
}

.hljs-literal {
  color: #82AAFF;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #C3E88D;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #F78C6C;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #FFCB6B;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #89DDFF;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.filename {
  padding: 0 2vmin;
  font-size: 1.8vmin;
  font-style: italic;
  color: #ccc;
  position: absolute;
  right: 1vmin;
  bottom: 1vmin;
}
