.header {
  margin-bottom: 4vmin;
}

.title {
  color: #222222;
  margin: 0;
  font-family: "Faustina", serif;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2vmin;
}

.about {
  position: relative;
  margin: 0 0 2vmin;
}

.image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  top: 2px;
  position: absolute;
}

.about span {
  margin-left: 32px;
  font-size: smaller;
  color: #222222;
}

.about a:hover {
  text-decoration: none;
}

.content {
  color: #222222;
}

.navigation {
  width: 50%;
  margin: 0 auto;
  position: relative;
  font-weight: 400;
  font-size: medium;
}

.prev {
  width: 40%;
  float: left;
  margin-bottom: 4vmin;
}

.next {
  width: 40%;
  float: right;
  margin-bottom: 4vmin;
  text-align: end;
}

.prev .navtag,
.next .navtag {
  font-family: monospace;
}

.prev .navtag {
  margin-right: 2vmin;
}

.next .navtag {
  margin-left: 2vmin;
}

.prev a,
.next a {
  color: #444444;
  font-size: medium;
  transition: 0.5s all ease-in-out;
}

.prev a:hover,
.next a:hover {
  color: #222222;
  text-decoration: none;
  transition: 0.5s;
}

.separator {
  width: 1px;
  height: 100%;
  left: 50%;
  border-left: solid 1px #888888;
}

@media all and (orientation: portrait) {
  .navigation {
    width: 80%;
  }

  .navtag {
    margin: 0;
  }

  .navtitle {
    display: none;
  }
}
